<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="Report bug">
	<meta name="author" content="Danzz Coding">
	<meta name="keywords" content="Report bug">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link rel="shortcut icon" href="img/icons/1.png">
	<title>Link Gc | Bgsbot Api</title>
	<link href="css/font.css?family=Inter:wght@300;400;600&display=swap" rel="stylesheet">

	<!-- Choose your prefered color scheme -->
	<!-- <link href="css/light.css" rel="stylesheet"> -->
	<!-- <link href="css/dark.css" rel="stylesheet"> -->

	<!-- BEGIN SETTINGS -->
	<!-- Remove this after purchasing -->
	<link class="js-stylesheet" href="css/style.css" rel="stylesheet">
	</head>
<!--
  HOW TO USE: 
  data-theme: default (default), dark, light, colored
  data-layout: fluid (default), boxed
  data-sidebar-position: left (default), right
  data-sidebar-layout: default (default), compact
-->


                       <br><br><br><br><br><br><br><br><br>
						<div class="card">
											<style>
												.ex-code{
													background-color: #00DCFF;
													color: black;
													border-radius: 25px;
													border: none;
												}
											</style>
										<div class="card-body">
											<h2>Link Group</h2>											
											<code class="list-group-item list-group-item-action" data-bs-toggle="list" role="tab">
										<font color="black">status: </font><font color="green">'true'</font><br>
link group: <font color="blue"></font> <font color="blue"> `https://chat.whatsapp.com/D426a2pb5CCFCEFPfqTEqU`,</font><br>
Creator: <font color="green">'BGS BOT ENTERTAINMENT'</font><br>																		
	<script src="js/main.js"></script>
</body>

</html>