* {
	box-sizing: border-box;
}
body {
	background: #e7e7e7;
}
.container {
	font-family: 'Roboto', sans-serif;
	display: flex;
	flex-wrap: wrap;
	max-width: 800px;
	margin: 0 auto;
}
.single-box {
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	width: 100%;
}
.date-area {
	display: flex;
	background: linear-gradient(to right, #e7e7e7 45%, #000 45%, #000 45%, #e7e7e7 50%);
	order: 2;
	text-align: center;
	color: #fff;
	font-size: 28px;
	flex-basis: 100px;
}
.date-area>span {
	font-size: 20px;
	line-height: 70px;
	margin: auto;
	background: #14b6c1;
	width: 70px;
	height: 70px;
	border-radius: 50%;
}
.content {
	text-align: center;
	padding: 20px;
	border-radius: 25px;
	color: #858585;
	order: 3;
	width: 80%;
	padding-left: 10px;
	background: #fff;
}
.content {
	margin-bottom: 3%;
}
.content h2 {
	margin: 0;
	font-size: 14px;
	text-transform: uppercase;
}
.content h3 {
	margin: 5px;
	font-size: 14px;
	color: #000;
}
@media (min-width: 640px) {
	.content, .custom {
		width: 40%;
	}
	.box-right .content {
		order: 1;
		padding-right: 10px;
		border-radius: 25px;
	}
	.box-right .custom {
		order: 3;
	}
}
