<main class="content">
    <div class="container-fluid p-0">					
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                    
                        <h1 class="h3 mb-3">Other Documentation</h1>
                    
                    
                    <div class="table-responsive">
                        <table class="table mb-0">
                            <thead>
                                <tr>
                                    <thead>
                            <tr>
                            <th>Fitur Name</th>
          <th>Request Method</th>	
          <th>Description</th>	
          <th>Query Parameter</th>																			
         <th>Status</th>
          <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr>						                                      
            <tr>
              <td>Chat Gpt</td>
              <td><div class="btn btn-rounded btn-outline-info">GET</div></td>
              <td>Open Ai</td>
              <td>apikey,prompt</td>
              <td><div class="btn btn-sm-rounded btn-outline-success">Active</div></td>
              <td><a target="_blank" href="api/other/chatgpt?prompt=hello&apikey=<%= apikey %>" class=" btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="mdi mdi-arrow-top-right"></a></td>
            </tr>
            <tr>
        </tbody>
      </table>
      </td>
    </div>
  </div>
</div>
</ul>
 </main>                                                                
  <!-- Footer -->
<footer class="footer">
    <script type="text/javascript">
        var det = new Date();
        var tahun = det.getFullYear();
        year = tahun;
    </script>
    <div class="container-fluid">
        <div class="footer-wrap pd-20 mb-20 card-box">
        Copyright © <script>document.write(year);</script>
        <a href="https://bgsbot.my.id" target="_blank"
            >bgs bot</a
        >. All rights reserved.
    </div>
    </div>
</footer>
<!-- End Footer -->
    
<!-- Back To Top -->
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
<!-- End Back To Top -->
</div>
</div>
</div>
</script>

