
</br>
<div class="container">

        <div class="single-box box-right">
			<div class="custom"></div>
			<div class="date-area">
	     <span class="menu-icon">
          <i class="mdi mdi-autorenew"></i>	
			</div>
			<div class="content">
				<h2>11-4-2023</h2>
				<h3>New Feature</h3>
				<p>Pixiv</p>
			</div>
		</div>
		<div class="single-box box-right">
			<div class="custom"></div>
			<div class="date-area">
	     <span class="menu-icon">
          <i class="mdi mdi-autorenew"></i>	
			</div>
			<div class="content">
				<h2>10-4-2023</h2>
				<h3>New Feature</h3>
				<p>Tiktok,Mediafire,Youtube,IG,FB,Twitter,Pinterest,Soundcloud Downloader</p>
			</div>
		</div>
		<div class="single-box box-right">
			<div class="custom"></div>
			<div class="date-area">
	  <span class="menu-icon">
          <i class="mdi mdi-autorenew"></i>	
			</div>
			<div class="content">
				<h2>17-3-2023</h2>
				<h3>Released New Ui</h3>
				<p>New Ui By Admin Johannes and Papah-Chan Dashboard </p>
			</div>
		</div>
	</div>
			</br>
			</main>
					
			<!-- Footer -->
			<footer class="footer">
				<script type="text/javascript">
   				 var det = new Date();
    				var tahun = det.getFullYear();
    				year = tahun;
				</script>
				<div class="container-fluid">
					<div class="footer-wrap pd-20 mb-20 card-box">
					Copyright © <script>document.write(year);</script>
					<a href="https://marin.my.id" target="_blank"
						>Marin Kitagawa</a
					>. All rights reserved.
				</div>
				</div>
			</footer>
			<!-- End Footer -->
				
			<!-- Back To Top -->
      	<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
      	  <!-- End Back To Top -->
        </div>
      </div>
    </div>
</script>
