<main class="content">
				<div class="container-fluid p-0">

					<div class="mb-3">
						<h1 class="h3 d-inline align-middle">Pricing</h1>
					</div>

					<div class="row">
						<div class="col-md-10 col-xl-8 mx-auto">
							<h1 class="text-center"></h1>
							<p class="lead text-center mb-4"></p>

							<div class="row justify-content-center mt-3 mb-2">
								<div class="col-auto">
									<nav class="nav btn-group">
									</nav>
								</div>
							</div>
								<div class="col-sm-4 mb-3 mb-md-0">
											<div class="card text-center h-100">
												<div class="card-body d-flex flex-column">
													<div class="mb-4">
														<h5>Free</h5>
														<span class="display-4"><sup>Rp.</sup>0</span>
														<span>/no expiry</span>
													</div>
													<h5><b>Profit:</b></h5>
													<ul class="list-unstyled">
														<li class="mb-2">
															<div class="bx bx-check-circle"> Request 100/day</div>
														</li>
														<li class="mb-2">
															<div class="bx bx-check-circle"> Limit 100/day</div>
														</li>
														<li class="mb-2">
															<div class="bx bx-check-circle"> Free Features</div>
														</li>
													</ul>
													<div class="mt-auto">
														<a href="/users/login" class="btn btn-lg btn-outline-primary">Start Now</a>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
						
										<div class="col-sm-4 mb-3 mb-md-0">
											<div class="card text-center h-100">
												<div class="card-body d-flex flex-column">
													<div class="mb-4">
														<h5>Premium</h5>
														<span class="display-4"><sup>Rp.</sup>5.000</span>
														<span>/month</span>
													</div>
													<h5><b>Profit:</b></h5>
													<ul class="list-unstyled">
														<li class="mb-2">
															<div class="bx bx-check-circle"> Request 9999/day</div>
														</li>
														<li class="mb-2">
															<div class="bx bx-check-circle"> Custom API Key</div>
														</li>
														<li class="mb-2">
															<div class="bx bx-check-circle"> Limit 9999/day</div>
														</li>
														<li class="mb-2">
															<div class="bx bx-check-circle"> Premium Features</div>
														</li>
													</ul>
													<div class="mt-auto">
														<a href="https://wa.me/19294427777?text=Permisi kak, saya mau order *premium user* 1 bulan 5k." class="btn btn-lg btn-outline-primary">Order Now</a>
													</div>
												</div>
											</div>
										</div>
									
					</div>
				</main>
					
			<!-- Footer -->
			<footer class="footer">
				<script type="text/javascript">
   				 var det = new Date();
    				var tahun = det.getFullYear();
    				year = tahun;
				</script>
				<div class="container-fluid">
					<div class="footer-wrap pd-20 mb-20 card-box">
					Copyright © <script>document.write(year);</script>
					<a href="https://marin.my.id" target="_blank"
						>Marin Kitagawa</a
					>. All rights reserved.
				</div>
				</div>
			</footer>
			<!-- End Footer -->
				
			<!-- Back To Top -->
      	<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
      	  <!-- End Back To Top -->
        </div>
      </div>
    </div>
</script>
